language: php

php:
  - 5.5
  - 5.6
  - 7.0
  - hhvm
  - nightly

matrix:
  allow_failures:
    - php: hhvm
    - php: nightly

before_install:
 - php composer.phar self-update
 - php composer.phar install

script:
 - phpunit --coverage-text

notifications:
  email:
    - andreas@heigl.org
