language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - hhvm
  - hhvm-nightly

matrix:
  allow_failures:
    - php: hhvm
    - php: hhvm-nightly
    - php: 7.0

before_install:
 - php composer.phar self-update
 - php composer.phar install

script:
 - phpunit --coverage-text

notifications:
  email:
    - andreas@heigl.org
